@import "./_variables.scss";
@import "./_fonts.scss";
html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
 
body {
  background-image: linear-gradient(
    to bottom,
    rgba(37, 192, 231, 0.884),
    rgba(123, 223, 77, 0.637)
  );
  background-size: cover;
}

h1{
  font-size: 5rem;
  color: white;
  text-align: center;
}
#anime{

}

.gallery{
  display: flex;
  justify-content: space-evenly;
}

.image{
  width: 24rem;
  height: auto;
  overflow: auto;
}

.road{
  filter: invert(40%);
}
.firework{
  filter: opacity(50%);
}

.sky{
  filter: grayscale(80%);
}

.forest{
  filter: blur(5px);
}

.tree{
  filter: hue-rotate(100deg);
}

.image:hover{
  transform: scale(1.3);
  outline: 1rem solid rgb(50, 185, 163);
  transition: all 0.3s;
  outline-offset: 1rem;
  filter: saturate(100%);
}

.tree:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}